body {
	background: #222;
	font-family: Arial, Helvetica, sans-serif;
}

.c-logo {
	position: absolute;
	top: 5px;
	left: 0;
	height: 20px;
	width: 200px;
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	color: #fff;
	-webkit-app-region: drag
}

.c-exit {
	position: absolute;
	top: 0;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
	right: 0;
	padding-top: 5px;
	cursor: pointer;
}

.c-exit:hover {
	background: rgba(0,0,0,.7);
}

.c-window {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 20px;
}

.c-tabs {
	position: absolute;
	top: 0;
	left: 0px;
	right: 20px;
	height: 30px;
	overflow-x: auto;
}

.c-tabs .tab {
	display: inline-block;
	min-width: 100px;
	text-align: center;
	color: #ddd;
	padding-top: 5px;
	cursor: pointer;
	position: relative;
	margin-right: 10px;
	padding-bottom: 4px;
	padding-right: 15px;
	padding-left: 10px;
}

.c-tabs .tab::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 3px;
	width: 6px;
	height: 6px;
	background: rgba(34, 150, 210, 0);
	border-radius: 100%;
	transition: all .3s ease;
}

.c-tabs .tab.changed::after {
	background: rgba(34, 150, 210, 1);
}

.c-tabs .tab.active {
	border-bottom: 3px solid #49a;
}

.c-tabs .tab .close {
	position: absolute;
	right: 1px;
	top: 7px;
	color: #777;
	visibility: hidden;
}
.c-tabs .tab:hover {
	color: #fff;
}
.c-tabs .tab:hover .close {
	visibility: visible;
}

.c-tabs .tab .close:hover {
	color: #aaa;
}

@import "./tabs.less";

.c-content {
	position: absolute;
	top: 30px;
	right: 0;
	left: 0px;
	bottom: 0px;
	overflow-y: auto;
}

.c-footer {
	position: absolute;
	height: 16px;
	bottom: 0;
	padding-left: 20px;
	padding-top: 4px;
	font-size: 12px;
	right: 0;
	left: 0;
	background: #49a;
	color: #fff;
}

.c-sidebar {
	position: absolute;
	overflow: auto;
	top: 30px;
	left: 0;
	bottom: 20px;
	width: 200px;
}
.c-sidebar h4 {
	margin: 0;
	color: #aaa;
	font-weight: 100;
	font-size: 12px;
	cursor: pointer;
}

.c-sidebar h4:hover {
	background: rgba(255, 255, 255, .05)
}

.c-sidebar h4 span {
	padding-left: 5px;
}

.c-sidebar .type {
	color: #666;
}

.c-sidebar h1 {
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
}

.c-sidebar h1 i {
	padding: 0px 5px;
	color: #999;
	cursor: pointer;
}

.c-sidebar h1 i:hover {
	color: #fff;
}

.c-sidebar ul {
	margin: 0;
	padding: 0;
}

.c-sidebar li {
	margin-left: 10px;
	list-style: none;
}

.c-sidebar .folder {

}

.terminal {
	width: 100%;
	border: 1px solid #666;
	min-height: 300px;
	color: #fff;
}

.window-item {
	margin: 10px;
  box-shadow: 0 0 3px 0 #111;
  padding: 5px;
  background: #111;
	min-height: 100px;
	position: relative;
}

.window-item:hover {
	box-shadow: 0 0 3px 0 #6aa;
}

h4.type_sub {
	color: #393;
	background: rgba(67, 144, 152, 0.22);
	padding: 1px 3px;
  border-radius: 4px;
}
