{ "ecmaFeatures": {
        "blockBindings": true,
        "arrowFunctions": true,
        "objectLiteralShorthandProperties": true,
        "objectLiteralShorthandMethods": true,
        "destructuring": true
    }
}